nav {
  ul {
    display: flex;
    gap: 1rem;
    margin: auto;
    width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    background-color: #117240;
    li {
      font-size: var(--font-increased);
      button {
        color: #fff;
        &.active {
          color: #baecfe;
        }
      }
    }
  }
}
